@model LeaveRequestCreateVM

@{
    ViewData["Title"] = "Apply for Leave";
}

<h1>Create</h1>

<h4>Apply for Leave</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
                <select asp-for="LeaveTypeId" class="form-select" asp-items="@Model.LeaveTypes">
                    <option>Select Leave Type</option>
                </select>
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control datepicker" type="text" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control datepicker" type="text" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RequestComent" class="control-label"></label>
                <textarea asp-for="RequestComent" class="form-control"></textarea>
                <span asp-validation-for="RequestComent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-dark" asp-action="Index">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

